
<%page args="activeclass='weatherwrapactive'"/>

<div id="weatherwrap" class="${activeclass}">
    <table cellpadding="0">
        <tbody>
            <tr>
                <td width="100%" colspan="5" style="text-align: center;font-size:120%">
                    <div class="weatherplace">Someplace, MO</div>
                </td>
            </tr>
            <tr>
                <td rowspan="4" style="width:260px">
                    <table>
                        <tbody>
                            <tr>
                                <td rowspan="2" style="text-align: left; width: 100px;height: 75px">
                                    <img class="currentweathericon" width="60px" height="60px" border="0" src = "/static/images/image_not_found.png">
                                </td>
                                <td rowspan="1" style="font-size:120%;font-weight:bold;text-align: left;padding-top:10px">
                                    <b class="currentweathertemperature">7</b>°F
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="currentweathercondition" style="text-align: left;color: #225">raining cats and dogs</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="currentweatherwind_condition" style="text-align: left;color: #225">kinda breezy</td>
                            </tr>
                            <tr>
                                <td colspan="2" class="currentweatherhumidity" style="text-align: left;color: #225">sultry</td>
                            </tr>                          
                        </tbody>
                    </table>
                </td>
                <td class="forecasetday_of_week1" style="vertical-align:bottom;text-align: center;width: 100px">Day 1</td>
                <td class="forecasetday_of_week2" style="vertical-align:bottom;text-align: center;width: 100px">Day 2</td>
                <td class="forecasetday_of_week3" style="vertical-align:bottom;text-align: center;width: 100px">Day 3</td>
                <td class="forecasetday_of_week4" style="vertical-align:bottom;text-align: center;width: 100px">Day 4</td>
            </tr>
            <tr>
                <td width="50" rowspan="1" style="vertical-align:top;text-align: center;width:50px;height:50px">
                    <img class="forecasticon1" width="35px" height="35px" border="0" src = "/static/images/image_not_found.png">
                </td>
                <td width="50"  rowspan="1" style="vertical-align:top;text-align: center;width:50px;height:50px">
                    <img class="forecasticon2" width="35px" height="35px" border="0" src = "/static/images/image_not_found.png">
                </td>
                <td width="50"  rowspan="1" style="vertical-align:top;text-align: center;width:50px;height:50px">
                    <img class="forecasticon3" width="35px" height="35px" border="0" src = "/static/images/image_not_found.png">
                </td>
                <td width="50"  rowspan="1" style="vertical-align:top;text-align: center;width:50px;height:50px">
                    <img class="forecasticon4" width="35px" height="35px" border="0" src = "/static/images/image_not_found.png">
                </td>                
            </tr>
            <tr>
                <td style="text-align: center;vertical-align: bottom">
                     <b class="forecasthigh1">123</b>°
                </td>
                <td style="text-align: center;vertical-align: bottom">
                     <b class="forecasthigh2">123</b>°
                </td>
                <td style="text-align: center;vertical-align: bottom">
                     <b class="forecasthigh3">123</b>°
                </td>
                <td style="text-align: center;vertical-align: bottom">
                     <b class="forecasthigh4">123</b>°
                </td>
            </tr>
            <tr>
                <td style="text-align: center;vertical-align: top;color: #252">
                     <b class="forecastlow1">123</b>°
                </td>
                <td style="text-align: center;vertical-align: top;color: #252">
                     <b class="forecastlow2">123</b>°
                </td>
                <td style="text-align: center;vertical-align: top;color: #252">
                     <b class="forecastlow3">123</b>°
                </td>
                <td style="text-align: center;vertical-align: top;color: #252">
                     <b class="forecastlow4">123</b>°
                </td>
            </tr>
        </tbody>
    </table>
</div>
